body {
background-attachment: fixed;
background-color: beige;
}

#Guide {
    font-family: Arial, sans-serif;
    color: #3c763d;
    position: absolute;
    top: 50%;
    left: 50%;

}







